*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}
.container{
    width: 25%;
    height: 55%;
    background-color:#3D89FF;
    border: none;
    z-index: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.navBar{
    display: flex
;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem;
}
.inputClass{
    width: 15rem;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 20px;
    border:none;

}
.iconImage{
    height: 1rem;
}
.searchBar{
    border: 1px solid white;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18rem;
    background-color: white;
    cursor: pointer;
}
.footerClass{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15rem;
    padding-bottom: 1.5rem;
}
.HumidityDiv img{
    width: 2rem;
}
.windSpeed img{
    width: 2rem;
}